* {
  font-family: 'KoddiUDOnGothic-Regular' !important;
  src: url('../../public/fonts/KoddiUDOnGothic-Regular.ttf') !important;
}

@media all and (min-width: 1280px) {
  .rcb-chat-window {
    width: 1200px !important;
    height: 750px !important;
  }
  div[aria-label='toggle audio'] {
    margin-right: 735px !important;
  }
}

@media all and (min-width: 1024px) and (max-width: 1279px) {
  .rcb-chat-window {
    width: 1024px !important;
    /* height: calc(1024px * (2 / 3)) !important; */
    height: 700px !important;
  }
  div[aria-label='toggle audio'] {
    margin-right: 560px !important;
  }
  .rcb-checkbox-next-button {
    width: 92% important;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .rcb-chat-window {
    width: 768px !important;
    /* height: calc(768px * (2 / 3)) !important; */
    height: 650px !important;
  }
  div[aria-label='toggle audio'] {
    margin-right: 305px !important;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
}

@media screen and (max-width: 479px) {
}

.rcb-toggle-icon {
  background-image: url('../../public/images/recycle-icon.png') !important;
  background-color: white !important;
  width: 75px;
  height: 75px;
}

/* .rcb-chat-window {
  width: 1200px !important;
  height: 800px !important;
  box-shadow: rgba(255, 255, 255, 0.12) 0px 0px 2px 0px inset, rgba(0, 0, 0, 0.05) 0px 0px 2px 1px,
    rgba(0, 0, 0, 0.3) 0px 12px 60px !important;
  border-radius: 30px !important;
} */

/* 25개 구  */
.rcb-checkbox-container {
  display: flex !important;
  flex-direction: row !important;
  max-width: 87% !important;
}

.rcb-checkbox-row-container {
  width: 110px !important;
  color: #163020 !important;
  border-color: #b6c4b6 !important;
  min-height: 45px !important;
  justify-content: center !important;
}

.rcb-checkbox-row {
  margin-left: 0px !important;
}

.rcb-checkbox-offset {
  margin-left: 82px !important;
}

.rcb-checkbox-label {
  font-size: 16px !important;
}

.rcb-checkbox-mark {
  background-color: #eef0e5;
  align-items: normal !important;
  content: '✓';
  transition: all 0.3s ease;
}

.rcb-checkbox-next-button {
  width: 91% !important;
  color: #b6c4b6 !important;
  border-color: #b6c4b6 !important;
  display: flex !important;
  align-items: flex-start;
  justify-content: center !important;
}

/* 헤더 */
.header-container {
  display: flex !important;
}

.rcb-close-chat-icon {
  width: 25px !important;
  height: 25px !important;
  /* margin-right: 10px !important; */
  margin-left: 0px !important;
}

.rcb-chat-header {
  display: flex !important;
  /* align-items: center; */
  width: fit-content !important;
}

.rcb-close-chat-icon:after {
  background-color: transparent !important;
}

.rcb-audio-icon:after {
  background-color: transparent !important;
}

.rcb-chat-header-container {
  padding: 0px 12px 0px 30px !important;
  justify-content: flex-start !important;
}

.header-title {
  color: rgb(22, 48, 32) !important;
  font-size: 35px !important;
  font-weight: 600 !important;
  width: 250px !important;
}

/* 아바타 */
.rcb-bot-avatar {
  width: 20px !important;
  height: 20px !important;
}

/* user 말풍선  */
.rcb-user-message.rcb-user-message-entry {
  background-color: #304d30 !important;
  color: #fbfbfb !important;
  padding: 7px 12px !important;
  font-size: 25px !important;
  margin-top: 20px !important;
  margin-right: 28px !important;
}

/* chatbot 말풍선 */
.rcb-bot-message.rcb-bot-message-entry {
  font-size: 25px !important;
  background-color: #eef0e5 !important;
  color: #163020 !important;
}

.rcb-message-bot-avatar {
  width: 50px !important;
  height: 50px !important;
  margin-left: 28px !important;
}

/* chatbot 버튼 */
.rcb-options {
  background-color: #fbfbfb !important;
  color: #163020 !important;
  border-color: #163020 !important;
  font-size: 18px !important;
  padding: 7px 12px !important;
}

.rcb-options-offset {
  margin-left: 84px !important;
}

/* send 버튼 */
.rcb-send-button {
  background-color: #304d30 !important;
  box-shadow: none !important;
  border-radius: 30px !important;
  height: 42px !important;
  width: 42px !important;
  margin-left: 15px !important;
}

.rcb-send-icon {
  width: 18px !important;
  height: 30px !important;
}

/* input box */
.rcb-chat-input {
  border-top: none !important;
}

.rcb-chat-input-textarea {
  width: 80% !important;
  border-radius: 50px !important;
  background-color: #eef0e5 !important;
  padding: 14px 0px 0px 20px !important;
  box-shadow: none !important;
  box-sizing: unset !important;
}

.rcb-chat-input-textarea:focus {
  outline: 0 !important;
}

.footer-text {
  font-size: 8px !important;
  color: #888d92 !important;
}

.rcb-chat-footer-container {
  display: flex;
  align-items: center;
  padding: 0px 18px 8px 18px !important;
  background-color: #ffffff !important;
  border: none !important;
}

.rcb-chat-footer {
  display: flex;
  align-items: center;
}

.rcb-attach-icon-enabled,
.rcb-attach-icon-disabled {
  width: 35px !important;
  height: 35px !important;
  margin-top: -3px !important;
}

.rcb-attach-button-enabled:after {
  position: unset !important;
  top: 0% !important;
  left: 0% !important;
  background-color: transparent !important;
}

/* 이미지 */
.rcb-media-display-image-container.rcb-media-entry {
  background-color: #ffffff !important;
  padding: 0px !important;
}

/* Tooltip  */
.rcb-chat-tooltip.rcb-tooltip-show {
  opacity: 1;
  visibility: visible;
  animation: tooltip-in 0.5s ease-in-out;
  background-color: #304d30 !important;
  color: #fbfbfb !important;
}

.rcb-chat-tooltip-tail {
  border-color: #304d30 !important;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
}

/* voice */
.rcb-audio-icon {
  width: 28px !important;
  height: 16px !important;
  margin-bottom: 7px !important;
}

.rcb-voice-button-enabled,
.rcb-voice-button-disabled {
  margin-left: -40px !important;
  border: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

/* 고대비 버튼 */

.darkmode-button {
  position: relative;
  background-color: transparent;
  border: none;
  width: 35px;
  height: 35px;
  transition: background-image 0.6s ease;
  background-size: 100% 100%;
  margin-left: 20px;
}

.darkmode-button:hover {
  background-color: transparent;
  width: 35px;
  height: 35px;
}

.darkmode-button:active {
  background-color: transparent;
}

/* 이미지 결과 */
.image-result {
  width: 600px;
  margin-left: 85px;
}
